{% extends "layout.html" %}

{% block head_content %}
    <script src="//code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    <style type="text/css">
        .search_form_h {
            float: right;
            font-size: 13pt;
        }
        .search_form_h_input {
            position: absolute;
            font-size: 100%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #999;
            width: 280px;
            padding: 5px;
            margin-left: -280px;
            margin-top: 3px;
            display: none;
            right: 0;
        }
        .search_form_h_label {
            /* position: absolute; */
            font-size: 0;
            color: rgba(0, 0, 0, 0);
            text-indent: -9999px;
            background: url({{ url_for('static', filename='imgs/search-icon.png') }});
            width: 18px;
            height: 18px;
            display: block;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        #search_form_h_a {
            /* background-color: #ddd; */
            padding: 5px;
            position: absolute;
            margin-top: 6px;
            margin-left: -30px;
            border-radius: 5px;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            var a = $('#search_form_h_a'),
                i = $('.search_form_h_input');

            a.removeAttr("href");
            a.click(function(){
                a.css("background-color", "rgba(0, 0, 0, 0)");
                i.animate({ width: 'toggle' }, 300, function(){
                    i.focus();
                });
                event.preventDefault();
            });
            a.hover(function() {
                if (!i.is(":visible")) {
                    a.css("background-color", "#ddd");
                }
            }, function() {
                a.css("background-color", "rgba(0, 0, 0, 0)");
            });
        });
    </script>
{% endblock %}

{% block header_extend %}
                <form action="/search" method="GET" class="search_form_h"><input type="input" name="q" class="search_form_h_input"><a href="/search" id="search_form_h_a"><label class="search_form_h_label">search</label></a></form>
{% endblock %}

{% block content %}
    <div id="togglePostFormLink">[<a href="#">Show/Hide Add new link form</a>]</div>
    <!-- https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form -->
    <form id="post_create" method="post">
        <input type="hidden" name="redirect" value="{{ redirect_url }}">
        <input type="hidden" name="date" value="{{ one_date }}">
        <div>
            <label for="form_url">URL:</label>
            <input class="" id="form_url" name="url" value="">
        </div>
        <div>
            <label for="form_description">Description:</label>
            <textarea class="" id="form_description" name="description" rows=2></textarea>
        </div>
        <div>
            <label for="form_tags">Tags(,):</label>
            <input class="" id="form_tags" name="tags" value="">
        </div>
        <div class="form_button">
            <button type="submit">Add URL</button>
        </div>
    </form>
    <script type="text/javascript">$("#post_create").hide();</script>
    {% for day in days %}
        {% if one_date %}<div class="day_title">{{ day.human_date }}</div>{% else %}<a href="/{{ day.link_date | urlencode }}.html" class="day_title">{{ day.human_date }}</a>{% endif %}<article>{% for p in day.posts %}{% include 'post.html' %}{% endfor %}</article>
    {% endfor %}
    {% include 'pagination.html' %}
{% endblock %}